/*welcome text*/
.theme-dark body:before {
    content: "Greetings " var(--user-name) "!";
    z-index: 1000000000000000000000000;
    color: #fff;
    background-color: #0000007a;
    top: 0px;
    left: 52%;
    position: absolute;
    border-radius: 5px;
    padding: 5px 15px;
    transform: translate(-60%, -100%);
    animation: chl 3s ease;
    animation-delay: 4s;
}